{
  "openapi": "3.1.0",
  "info": {
    "title": "GuardionAI",
    "version": "0.1.2",
    "summary": "Secure everything you build with Generative AI using AI Guard, real-time evaluation and auto-correction.",
    "description": "[See full documentation](https://docs.metatext.ai)",
    "termsOfService": "https://metatext.ai/doc/terms-of-service",
    "contact": {
      "name": "Rafael Sandroni",
      "email": "rafael@guardion.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.guardion.ai",
      "description": "Production API server"
    }
  ],
  "tags": [
    {
      "name": "Guard",
      "description": "API endpoints for real-time Guardrails"
    },
    {
      "name": "Policy center",
      "description": "Manage evaluation policies"
    }
  ],
  "paths": {
    "/v1/policies": {
      "get": {
        "tags": ["Policy center"],
        "summary": "List Policies",
        "operationId": "listPolicies",
        "security": [{"HTTPBearer": []}],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {},
                  "title": "Response Policy Center - List Policies"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Policy center"],
        "summary": "Create Policy",
        "operationId": "createPolicy",
        "security": [{"HTTPBearer": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/PolicyRequest-Input"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/PolicyRequest-Output"}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/HTTPValidationError"}
              }
            }
          }
        }
      }
    },
    "/v1/guard": {
      "post": {
        "tags": ["Guard"],
        "summary": "Evaluate",
        "description": "Run evaluation and apply guardrails.",
        "operationId": "evaluateGuard",
        "security": [{"HTTPBearer": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/EvaluationRequest"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/EvaluationResponse"}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/HTTPValidationError"}
              }
            }
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "tags": ["Guard"],
        "summary": "Evaluate Chat Completions",
        "description": "Evaluation and guardrails for chat completions.",
        "operationId": "evaluateChatCompletions",
        "security": [{"HTTPBearer": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/EvaluationRequest"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/EvaluationResponse"}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/HTTPValidationError"}
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "HTTPBearer": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      ... // Keep the schemas as-is or refactor separately if needed
    }
  }
}
